body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(27, 25, 29);
    font-family: 'poppins';
}
.container{
    position: relative;
    padding: 0.5rem;
    text-align: center;
    background-color: #3b3a3b;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out .8s;
    margin: 10px 0;
    overflow: hidden;
}
.btn{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 0;
    transition: all ease .4s;
    font-size: 20px;
    color: #fff;
}
.container:hover{
    padding-right: 50px;
    padding-left: 10px;
}

.container span{
    display: none;
    margin-left: 20px;
    color: #dddada;
    font-size: 20px;
    transition: all ease .5s;
}
.container:hover span{
    display: block;
}
.container::after{
    content: "";
    position: absolute;
    background-color: rgba(124, 120, 120, 0.5);
    width: 70px;
    height: 100%;
    transform: translateX(-100px) skewX(200deg);
    transition: all ease 1s;
}
.container:hover::after{
    transform: translateX(200px) skewX(200deg);
}
#whatsapp{
    background-color: rgb(8, 180, 74);
    box-shadow: 5px -20px 20px rgba(11, 247, 102, 0.5),
    5px 20px 20px rgba(11, 247, 102, 0.5);
}
#twitter{
    background-color: rgb(29, 161, 242);
    box-shadow: 5px -20px 20px rgba(68, 177, 245, 0.5),
    5px 20px 20px rgba(68, 177, 245, 0.5);
}
#facebook{
    background-color: rgb(30, 98, 235);
    box-shadow: 5px -20px 20px rgba(58, 122, 248 , 0.5),
    5px 20px 20px rgba(58, 122, 248, 0.5);
}