@font-face {
    font-family: 'Exan';
    src: url('Exan-Regular.ttf');
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Exan';
    overflow-x: hidden;
}
nav{
    width: 90%;
    padding: 030px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: blue; */
}
.nav-logo{
    font-size: 20px;
    color: #fff;
}

 li{
    margin: 10px;
    list-style-type: none;
    
}
.nav-list li a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    transform: rotate(120deg);
}
button{
    background-color: transparent;
    padding: 1rem 3rem;
    border: 2px solid #fff;
    color: #ffffff;
    font-family: inherit;
    cursor: pointer;
    transition: all ease-in-out .5s;
    font-size: 15px;
}
button:hover{
    background-color: #fff;
    color: #272726;
}
.hero-section{
    position: relative;
    width: 100%;
    top: 0;
    background-image: linear-gradient(120deg, rgba(0,0,0,0.5), rgba(0,0,0,0.1)),url('hero-1.jpg');
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.hero-content{
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
    border-right: 1px solid #fff;
    padding-right: 80px;
}
.hero-content h1{
    color: #fff;
    font-size: 90px;
    line-height: 90px;
   
}
aside{
    width: 70px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-icons {
    display: block;
    position: absolute;
    top: 8%;
}
.nav-icons a{
    color: #fff;
}
.side-icons{
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.side-icons a{
    color: #fff;
    display: block;
    margin: 15px 0;
    font-size: 20px;
}
.qr-image{
    position: absolute;
    width: 200px;
    top: 50%;
    transform: translateY(-50%);
    right: 15%;
    z-index: 999;
}
.arrow{
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 5%;
    right: 5%;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}